nav
  each item, index in app.mainNav.elements
    - const currentClass = item.href.includes(meta.htmlPathName) ? app.mainNav.activeClass : ''
    - const currentPathClass = currentClass === '' && meta.pagePathName !== '' && item.href.includes(meta.pagePathName) ? app.mainNav.activePathClass : ''

    if index !== 0
      | &nbsp;|&nbsp;
    a(href=item.href, class=`${currentClass}${currentPathClass}`) #{ item.name }
