nav
  each item in app.mainNav.elements
    - const currentClass = item.url.includes(meta.htmlPathName) ? app.mainNav.activeClass : ''
    //- Todo: add current path css class
    a(href=item.url, class=`${currentClass}`) #{ item.name }
